<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
         xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
         xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
         IgnorableNamespaces="uap uap10 desktop com rescap">
  <Identity Name="{{PackageName}}" Publisher="{{PackagePublisher}}" Version="{{Version}}" ProcessorArchitecture="x64" />
  <Properties>
    <DisplayName>{{DisplayName}}</DisplayName>
    <PublisherDisplayName>{{PublisherDisplayName}}</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>{{Description}}</Description>
  </Properties>
  <Resources><Resource Language="pt-BR" /><Resource Language="en-US" /><Resource Language="fr-CA" /></Resources>
  <Dependencies><TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.22000.0" MaxVersionTested="10.0.26100.0" /></Dependencies>
  <Applications>
    <Application Id="App" Executable="BlinkReminder.exe" EntryPoint="Windows.FullTrustApplication" uap10:RuntimeBehavior="packagedClassicApp" uap10:TrustLevel="mediumIL">
      <uap:VisualElements DisplayName="{{DisplayName}}" Description="{{Description}}" BackgroundColor="transparent"
                          Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" />
      <Extensions>
        <desktop:Extension Category="windows.startupTask" Executable="BlinkReminder.exe" EntryPoint="Windows.FullTrustApplication">
          <desktop:StartupTask TaskId="{{StartupTaskId}}" Enabled="false" DisplayName="{{DisplayName}}" />
        </desktop:Extension>
        <desktop:Extension Category="windows.toastNotificationActivation">
          <desktop:ToastNotificationActivation ToastActivatorCLSID="{{NotificationActivatorId}}" />
        </desktop:Extension>
        <com:Extension Category="windows.comServer">
          <com:ComServer><com:ExeServer Executable="BlinkReminder.exe" Arguments="----AppNotificationActivated:" DisplayName="{{DisplayName}}">
            <com:Class Id="{{NotificationActivatorId}}" />
          </com:ExeServer></com:ComServer>
        </com:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities><rescap:Capability Name="runFullTrust" /></Capabilities>
</Package>
